
<%= render @rent %>

<div>
  <%= link_to "Edit this rent", edit_car_rent_path(@rent) %> |
  <%= link_to "Back to rents", car_rents_path %>

  <%= button_to "Destroy this rent", @rent, method: :delete %>
</div>
