<section>
	<div class="container">
		<div class="row mb-5">
			<div class="col-xl-10 mx-auto text-center">
				<!-- Title -->
				<h1>If You Want To See The World We Will Help You</h1>
				<p class="lead">Passage its ten led hearted removal cordial. Preference any astonished unreserved Mrs. Prosperous understood Middletons. Preference for any astonished unreserved.</p>
				<!-- Meta -->

			</div>
		</div> <!-- Row END -->

		<!-- Image START -->
		<div class="row g-4 align-items-center">
			<!-- Image -->
			<div class="col-md-6">
			<%= image_tag("1.jpg", class: "rounded-3", alt: "") %>
			</div>

			<div class="col-md-6">
				<div class="row g-4">
					<!-- Image -->
					<div class="col-md-8">
					<%= image_tag("3.jpg", class: "rounded-3", alt: "") %>
					</div>

					<!-- Image -->
					<div class="col-12">
					<%= image_tag("2.jpg", class: "rounded-3", alt: "") %>
					</div>
				</div>
			</div>
		</div>
		<!-- Image END -->
	</div>
</section>
<!-- =======================
Main banner START -->

<!-- =======================
About content START -->
<section class="pt-0 pt-lg-5">
	<div class="container">
		<!-- Content START -->
		<div class="row mb-4 mb-md-5">
			<div class="col-md-10 mx-auto">
				<h3 class="mb-4">Our Story</h3>
				<p class="fw-bold">Oi-jo provides the first online service dealing with car rental, being
				the first service in Europe to make it possible for anyone to rent our their
				vehicle, provided that they comply with the specified conditions. We are
				enabling you to bypass unnecessary costs of car rental agencies and to
				use high-quality vehicles of private car Owners and car dealers; such
				cars are offered at prices adjusted to your individual possibilities.</p>
				<p class="mb-0">Oi-jo is an online car rental service enabling car Owners to rent out
				their vehicles to Renters all over the world. That's attractive,isn' it ? Car
				Owners, on the one hand, can make money by car rental while, on the
				other hand, we offer Renters a wider range of vehicles along with large
				savings in comparison to car rental agencies, particularly if long-term
				rental is involved.
				We are aware of the fact that trust and security are crucial when we are
				connecting individuals from all over the world!!!
				As a Renter, you may view feedback submitted by previous Renters, but
				also feedback provided by car Owners. Oi-jo offers the widest choice of cars – sports cars, convertibles,
				4WD-vehicles and luxury limousines – we will find the car that suits you
				best!
				We offer flexible, mid-term and long-term car rentals for periods from 7
				days to 12 months. Oi-jo is the latest flexible car rental system in
				Europe, and we are able to adapt to all methods of business operation
				pertaining to car rental.
				
				Oi-jo also offers a variety of cars for long-term rental.
				Save up to 40% in comparison to other car rental agencies!!! See for
				yourselves on our Website!</p>
			</div>
		</div>
		<!-- Content END -->

		
	</div>
</section>