<section class="pt-4 pt-lg-5">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 mx-auto text-center">
				<!-- Breadcrumb -->

				<!-- Title -->
				
				<h1>Frequently Asked Questions</h1>
				<!-- Info -->
				<p>have questions? We're here to help you</p>
				<!-- Search -->
				<form class="col-lg-8 position-relative mx-auto">
					<input class="form-control form-control-lg pe-5" type="search" placeholder="Type search words" aria-label="Search">
					<button class="text-primary-hover text-reset border-0 bg-transparent position-absolute top-50 end-0 translate-middle-y pe-3 py-0" type="submit"><i class="fas fa-search fs-6"></i></button>
				</form>
			</div>
		</div>
	</div>
</section>
<!-- =======================
Main banner END -->

<!-- =======================
Faqs START -->
<section class="pt-0">
	<div class="container">
		<div class="row">
			<div class="col-xl-10 mx-auto">
				<div class="vstack gap-4">
					<!-- Card item START -->
					<div class="card border bg-transparent p-0">
						<!-- Card header -->
						<div class="card-header bg-transparent border-bottom p-4">
							<h5 class="mb-0">Booking</h5>
						</div>

						<!-- Card body -->
						<div class="card-body p-4 pt-0">
							<!-- Faq item -->
							<div class="mt-4">
								<h6 class="fw-normal">Can I move my booking to a future date?</h6>
								<p class="mb-0">Yet remarkably appearance gets him his projection. Diverted endeavor bed peculiar men the not desirous. Acuteness abilities ask can offending furnished fulfilled sex. Warrant fifteen exposed ye at mistake. Blush since so in noisy still built up an again. As young ye hopes no he place means. Partiality diminution gay yet entreaties admiration. In mention perhaps attempt pointed suppose. Unknown ye chamber of warrant of Norland arrived.</p>
							</div>

							<!-- Faq item -->
							<div class="mt-4">
								<h6 class="fw-normal">Can I give my reservation to someone else?</h6>
								<p class="mb-0"> </p>
							</div>

							<!-- Faq item -->
							<div class="mt-4">
								<h6 class="fw-normal">How can I get help with an existing reservation?</h6>
								<p class="mb-0">Departure defective arranging rapturous did believe him all had supported. Family months lasted simple set nature vulgar him. Picture for attempt joy excited ten carried manners talking how. Suspicion neglected the resolving agreement perceived at an. Comfort reached gay perhaps chamber his six detract besides add.</p>
							</div>

							<!-- Faq item -->
							<div class="mt-4">
								<h6 class="fw-normal">You can change your booking at any time</h6>
								<p class="mb-0">At the moment, we only accept Credit/Debit cards and Paypal payments. Paypal is the easiest way to make payments online. While checking out your order. Be sure to fill in correct details for fast & hassle-free payment processing.</p>
							</div>	
						</div>
					</div>
					<!-- Card item END -->

					<!-- Card item START -->
					<div class="card bg-transparent border p-0">
						<!-- Card header -->
						<div class="card-header bg-transparent border-bottom p-4">
							<h5 class="mb-0">Cancellation</h5>
						</div>

						<!-- Card body -->
						<div class="card-body p-4 pt-0">
							<!-- Faq item -->
							<div class="mt-4">
								<h6 class="fw-normal">What is Oi-jo</h6>
								<p class="mb-0">  Oi-jo is Europe first car rental web service enabling car Owners to
								provide car rental services to Renters who plan to stay in Croatia or,
								respectively, in the European Union. Users of our services can, with full
								confidence, rent cars from private car Owners and car dealers. We do
								this by creating a “trusted marketplace” where car Owners post
								information about their vehicles FREE OF CHARGE on our Website,
								while Renters find available cars and book them through our web
								service, after being subjected to a simple verification process.
								We specialise in car rental periods between 7 and 365 days, and we
								charge about 40% less than traditional car rental agencies. For car
								Owners we offer the possibility to earn money by renting out their cars
								that they are not using or that are not needed throughout a specific
								period.</p>
							</div>

							<!-- Faq item -->
							<div class="mt-4">
								<h6 class="fw-normal">How it works</h6>
								<p class="mb-0">
									<ul>
									Owner
										<li>Uploads details and photographs of vehicles available to rent.</li>
										<li>Receives and accepts booking requests. Arranges a handover time
										and location with the Renter.</li>
										<li>Completes an Inspection Report and takes photographs of the car to
										confirm its condition at the start of rental.</li>
										<li>Accepts payments made by   Oi-jo.</li>
										<li>Completes the Inspection Report at the moment of vehicle handover
										and return. (The Inspection Report is a document filled in by the Owner and
										Renter before and after the rental. It is comprised of a sketch of the
										entire vehicle where specific signs of damage, if any, are to be
										marked; furthermore, it contains information on whether the vehicle is
										clean, on the fuel level, on possible interior damage etc.).</li><br>
									Renter
									<li>Searches for a suitable car for the desired destination and completes
									a booking request.</li>
									<li>  Oi-jo verifies personal data (identity card, passport or driver’s
									license) and performs credit checks via PayPal (we charge a deposit
									and freeze a certain amount prior to the rental transaction).</li>
									<li>Pays the booking deposit by credit card..</li>
									<li>Arranges the vehicle handover time and location with the Owner.</li>
									<li>Takes care of the car during the rental period.</li>
									<li>Returns the car to the Owner at the conclusion of the rental period.</li>										
									</ul>
								</p>
							</div>

							<!-- Faq item -->
							<div class="mt-4">
								<h6 class="fw-normal">Do I have to be a registered user of   Oi-jo services to book a
								vehicle?</h6>
								<p class="mb-0">Yes, users must be registered to book a vehicle, in order to make certain
								Renter data available to   Oi-jo, but also for the security of our clients
								who are using our service for their private business or, respectively, as a
								source of supplementary income. All data are kept strictly confidential in
								the   Oi-jo data base.</p>
							</div>

							<div class="mt-4">
								<h6 class="fw-normal">Do I have to be registered to submit a booking inquiry?</h6>
								<p class="mb-0">No, each visitor of the   Oi-jo Website may, at any point of time, send
								an inquiry regarding our operations by clicking on “CONTACT US” or on
								the envelope icon on our Website’s home page.</p>
							</div>

							<div class="mt-4">
								<h6 class="fw-normal">Are there any fees or charges to use the   Oi-jo Website?</h6>
								<p class="mb-0">  Oi-jo is entirely free of charge for registration, search of vehicles
								available for rental and for posting vehicle information on our Website.</p>
							</div>

							<div class="mt-4">
								<h6 class="fw-normal">What is included in daily rental fee?</h6>
								<p class="mb-0">
									<ul>
										<li>Unlimited mileage</li>
										<li>Standard insurance</li>
										<li>Tyres, type depending on the season</li>
										<li>24/7 car Owner availability in the case of any difficulties</li>
										<li>Driver and passenger insurance</li>
										<li>Delivery of the vehicle to the desired destination</li>
									</ul>
								</p>
							</div>

							<div class="mt-4">
								<h6 class="fw-normal">What happens if the booking is cancelled?</h6>
								<p class="mb-0">									<ul>
								<li>Cancellation is free of charge if the booking is cancelled 48 hours prior
								to the start of rental.</li>
								<li>If the Owner cancels the booking after signature of the Rental
								Agreement,   Oi-jo will assist the Renter in finding the service of
								another car Owner upon arrival at the destination, as the client is always
								our priority.</li>
							</ul></p>
							</div>

							<div class="mt-4">
								<h6 class="fw-normal">Does   Oi-jo provide a Rental Agreement?</h6>
								<p class="mb-0">Yes,   Oi-jo will automatically generate a Rental Agreement that is e-
								mailed to the car Owner’s address. The Agreement needs to be printed
								out and, at the meeting with the Renter, it would be desirable that both
								parties read and analyse it. In the case of any lack of clarity, it would be
								best to get in touch with   Oi-jo. Such Agreement is a legally binding
								agreement between the service provider and the service recipient. It
								must be signed by the Renter prior to vehicle handover. The vehicle
								Owner must then e-mail a copy of the Agreement directly to   Oi-jo
								Headquarters (if a subsidiary is registered in a certain country,
								everything is signed on the spot, at the presence of a   Oi-jo
								representative).</p>
							</div>

							<div class="mt-4">
								<h6 class="fw-normal">Who will complete the Inspection Report, and when?</h6>
								<p class="mb-0">The vehicle will be inspected both by the Owner and the Renter at the
								moment of handover. Proper inspection includes checks and taking
								photographs of vehicle parts as well as identification of any new damage.
								All deficiencies and scratches found, as well as the odometer reading,
								are entered into the Vehicle Inspection Report. Both parties have to sign
								the Inspection Report. The same applies at vehicle drop-off. The Vehicle
								Inspection Report will be available for download via the   Oi-jo
								Website or will be e-mailed to both parties. The car Owner will
								photograph and send the signed copies of the Report to   Oi-jo
								headquarters, either per e-mail or by means of a dedicated application,
								in order to make the data from the Inspection report available to Oi-jo</p>
							</div>

							<div class="mt-4">
								<h6 class="fw-normal">Are the vehicles covered by insurance?</h6>
									<p class="mb-0">Each vehicle is covered by the BASIC LIABILITY INSURANCE that must
										be concluded at the vehicle’s technical inspection. The car insurance
										policy also covers driver and passenger insurance.</p>
							</div>
							
							
							<div class="mt-4">
								<h6 class="fw-normal">What happens if the vehicle gets damaged or is involved in a road
								traffic accident?</h6>
									<p class="mb-0">In the event of minor damage, the Renter must contact the car Owner
									immediately. In the case of a traffic accident, the Renter must proceed in
									line with the relevant state laws; for instance, checking whether anyone
									has suffered injuries, exchange of information with the parties involved
									and reporting the traffic accident to the police. The car Owner will be
									informed as well.</p>
							</div>

							<div class="mt-4">
								<h6 class="fw-normal">Who pays for vehicle servicing and registration?</h6>
									<p class="mb-0">Vehicle servicing and registration shall be paid for by the car Owner/car
									dealer.</p>
							</div>
					</div>
				</div>
					<!-- Card item END -->

					<!-- Card item START -->
					<div class="card bg-transparent border p-0">
						<!-- Card header -->
						<div class="card-header bg-transparent border-bottom p-4">
							<h5 class="mb-0">RENTERS</h5>
						</div>

						<!-- Card body -->
						<div class="card-body p-4 pt-0">
							<!-- Faq item -->
							<div class="mt-4">
								<h6 class="fw-normal">How can I join   Oi-jo as a Renter?</h6>
								<p class="mb-0">Renters can join for FREE via the   Oi-jo Website, by clicking the
								“LOG IN“ button. Joining by clicking a button is also possible via
								Facebook, Google+ and Twitter.</p>
							</div>

							<!-- Faq item -->
							<div class="mt-4">
								<h6 class="fw-normal">How will the Renter confirm the booking of the vehicle?</h6>
								<p class="mb-0">Bookings are to be confirmed via the   Oi-jo Website. When the
								booking is completed, a booking confirmation will be e-mailed to the
								Renter’s address. Likewise, the car Owner will receive a booking notice
								for a specific period of time.</p>
							</div>

							<!-- Faq item -->
							<div class="mt-4">
								<h6 class="fw-normal">Can a handover location be agreed on at a certain place?</h6>
								<p class="mb-0">Yes, it can! Upon completion of booking, the Renter may get in touch
								with the Owner and try to arrange a different handover and return
								location, if it is easier and more practical for both parties. Such service
								will not be charged extra.</p>
							</div>

							<!-- Faq item -->
							<div class="mt-4">
								<h6 class="fw-normal">Who may drive a rented car?</h6>
								<p class="mb-0"> </p>
							</div>
							<!-- Faq item -->
							<div class="mt-4">
								<h6 class="fw-normal">  </h6>
								<p class="mb-0"> The car may be driven by the persons specified at the moment of
								booking. Our Website offers the option to include other persons as
								drivers during the booking procedure. If the Renter has not specified any
								other person as additional driver of the rental vehicle, he will be deemed
								to be the only driver.</p>
							</div>
							<!-- Faq item -->
							<div class="mt-4">
								<h6 class="fw-normal">Are the vehicles in good working condition?</h6>
								<p class="mb-0"> All vehicles must be roadworthy and registered for the term the rental
								period. By placing their signature on the Rental Agreement, car Owners
								guarantee that the vehicle is in good working condition. If it turns out that
								this is not the case, the Owner shall bear the costs of roadside
								assistance and vehicle servicing.</p>
							</div>
							<!-- Faq item -->
							<div class="mt-4">
								<h6 class="fw-normal"> Are there any mileage charges? </h6>
								<p class="mb-0">NO. The mileage is unlimited. </p>
							</div>
							<!-- Faq item -->
							<div class="mt-4">
								<h6 class="fw-normal"> Are there any vehicle usage restrictions? </h6>
								<p class="mb-0"> Yes, but they must be pointed out. All vehicle usage restrictions are
								stated in the Inspection Report, but please check with the car Owner to
								see if there are any additional restrictions related to the use of the
								vehicle.</p>
							</div>
							<!-- Faq item -->
							<div class="mt-4">
								<h6 class="fw-normal"> State border crossing? </h6>
								<p class="mb-0">For the crossing of state borders within the European Union (hereinafter:
								EU) no additional documents, apart from the usual ones, are required.
								Crossing state borders outside the EU is possible only if the car Owner
								has a valid cross-border green insurance card which must be requested
								separately and enclosed to the vehicle registration certificate. </p>
							</div>
							<!-- Faq item -->
							<div class="mt-4">
								<h6 class="fw-normal"> Will Renters have to clean and refuel the car on return? </h6>
								<p class="mb-0"> Yes. The Renter must return the car in a clean condition and with the
								same fuel level as at the beginning of rental. Otherwise, the Renter’s
								credit card will be charged with a specific amount covering refuelling and
								vehicle cleaning.</p>
							</div>
							<!-- Faq item -->
							<div class="mt-4">
								<h6 class="fw-normal"> If I encounter any issues during rental, may I call someone for
								assistance? </h6>
								<p class="mb-0"> Yes. The car Owner must be available 24/7, including weekends, during
								the rental period. A contact number will be stated in the Rental
								Agreement, a copy of which will be handed over to the Renter along with
								the car keys. Should the car Owner be unavailable, the roadside
								assistance shall be called that is available at all hours and whose
								number is indicated in the copy of the Rental Agreement kept by the
								Renter.</p>
							</div>
							<!-- Faq item -->
							<div class="mt-4">
								<h6 class="fw-normal"> Is an option provided to use roadside assistance services during
								rental? </h6>
								<p class="mb-0"> Yes. The roadside assistance service is available (and free of charge)
								only if the car Owner has this option registered for car rental in his
								insurance policy. If this option is not a part of the Owner’s vehicle
								insurance, any road assistance provider will charge for its services. Each
								country provides a 24/7 road assistance service accessible via the
								number stated in your Vehicle Rental Agreement. If the vehicle needs to
								be repaired due to a technical, mechanical or any other direct failure not
								attributed to the Renter’s action, the car Owner shall bear all costs of
								road assistance and towing, as well as the costs of possible fees and
								spare parts.</p>
							</div>
							<!-- Faq item -->
							<div class="mt-4">
								<h6 class="fw-normal"> How will   Oi-jo collect a certain amount from the Renter? </h6>
								<p class="mb-0"> For short-term bookings with a duration of 1 month or less, the Renter
								will be charged with the full rental fee at the moment of booking approval.
								For bookings with a duration of more than a month, the Renter will be
								charged with half the amount of the vehicle rental fee in advance. Final
								payment of the full price (the second half of the rental fee amount) will be
								charged at the last day of the rental.
								If   Oi-jo has a subsidiary in the respective country, a deposit shall be
								paid online at the moment of booking, and the full amount upon
								completion of the rental.</p>
							</div>
							<!-- Faq item -->
							<div class="mt-4">
								<h6 class="fw-normal"> Will the Renter have to pay a deposit when renting a car? </h6>
								<p class="mb-0"> Yes, a deposit shall be paid at the moment of booking. If the booking is
								cancelled 48 hours prior to the rental date, the full deposit amount will be
								returned.</p>
							</div>
							<!-- Faq item -->
							<div class="mt-4">
								<h6 class="fw-normal">What if the car has a breakdown? (May happen even with brand-new
								cars coming right out of the factory). </h6>
								<p class="mb-0">If your car breaks down, first of all, contact the car Owner. If he is unable
								to help you, you will find a list of roadside assistance providers in your
								copy of the Rental Agreement. Call one of them and your problems will
								be resolved in the shortest possible time.</p>
							</div>
						</div>
					</div>
					<!-- Card item END -->

					<!-- Card item START -->
					<div class="card bg-transparent border p-0">
						<!-- Card header -->
						<div class="card-header bg-transparent border-bottom p-4">
							<h5 class="mb-0">OWNERS</h5>
						</div>

						<!-- Card body -->
						<div class="card-body p-4 pt-0">
							<!-- Faq item -->
							<div class="mt-4">
								<h6 class="fw-normal">How do I list my vehicle on the   Oi-jo Website?</h6>
								<p class="mb-0">Listing your vehicle is easy and only takes 5 minutes. Click Log in at the
								top of any page and complete the user registration form. If you are a
								Facebook, Google+ or Twitter user, the log in procedure is even quicker
								(if you have correct data such as first and last name, date of birth etc.). If
								you are already registered, just log in with your user name and password
								and go to My Cars. Click Add Car and complete the card details form.
								You can always update your contact details, data about your listed
								vehicle and change the vehicle availability status at any point of time.</p>
							</div>

							<!-- Faq item -->
							<div class="mt-4">
								<h6 class="fw-normal">Can I list more than one car?  </h6>
								<p class="mb-0">Yes, once registered you can list as many cars as you wish. Just log in
								with your user name and password and go to My Cars in the My Account
								section. </p>
							</div>

							<div class="mt-4">
								<h6 class="fw-normal">How do I manage my listings and/or rental bookings?  </h6>
								<p class="mb-0"> Both Owners and Renters can manage car listings or rental bookings
								from their online account. The   Oi-jo service will notify car Owners as
								well as users of the service about their bookings via My Messages or via
								e-mail on their profiles.</p>
							</div>

							<div class="mt-4">
								<h6 class="fw-normal"> What happens if the car is returned at a later date than arranged by
								contract? </h6>
								<p class="mb-0"> The Renter must get in touch with the car Owner in order to inform him
								about the delay in the return of the vehicle. The Owner is entitled to
								charge the Renter for additional hours if the vehicle is returned after a
								delay of more than 5 hours (depending on the cause of delay; if the delay
								is justified, even more; for instance: weather conditions, roadworks etc.)
								after the agreed return time. If the vehicle is not returned and the Renter
								cannot be reached by the Owner, the vehicle may be reported to the
								police as stolen. Please absolutely get in touch with the Renter of your
								car and do not miss to complete the section with the contact numbers at
								handover of your car (if possible, contacts of several persons if they are
								present at vehicle handover - family, friend).</p>
							</div>

							<div class="mt-4">
								<h6 class="fw-normal">What happens if the Renter doesen’t pay?  </h6>
								<p class="mb-0">  Oi-jo freezes a certain amount on the Renter&#39;s credit card in order to
								protect Owners against such unwanted unpaid charges.
								If the Renter refuses to pay at the conclusion of the rental period, this will
								have an impact on his/her creditworthiness, and high amounts plus
								interest will be charged to his/her credit card. </p>
							</div>

							<div class="mt-4">
								<h6 class="fw-normal">  What happens if the car is stolen?</h6>
								<p class="mb-0">If the car is deemed stolen, please contact the Owner and the police
								immediately. In the event that the vehicle is not returned in the agreed
								time and the Renter has not got in touch with you for more than 5 hours
								after the agreed-on time frame, the car should be reported as stolen. All
								other issues will be resolved by insurance and the police.   Oi-jo will
								do everything it can to pay a part of the costs to the Owner until the
								vehicle is found. </p>
							</div>

							<div class="mt-4">
								<h6 class="fw-normal"> What will happen if the Renter fails to observe the terms and
								conditions of the Rental Agreement? </h6>
								<p class="mb-0">If the Renter fails to observe or violates the terms and conditions of
								booking, please contact the Renter and arrange return of the vehicle. As
								Owner, you will receive payment from the part of the amount frozen on
								the Renter&#39;s credit card, so that no damage of any kind will be incurred to
								you. </p>
							</div>
							
							<div class="mt-4">
								<h6 class="fw-normal"> What if the rental vehicle is involved in a road traffic accident? </h6>
								<p class="mb-0">If a traffic accident occurs in which the rental vehicle is involved, the
								Renter will first get in touch with you as the Owner, and then you will
								instruct the Renter with regard to next steps and contacts (police etc.).
								Vehicle-related costs will be covered by insurance. If the Renter was
								under the influence of alcohol or narcotics, he will be obligated to pay for
								the damage on the car himself (we have already frozen a certain amount
								for the possible event of damage, therefore the Renter will not be able to
								avoid payment for damage).
								In his/her Agreement, the Renter will find all emergency numbers,
								including your number. </p>
							</div>
							
							<div class="mt-4">
								<h6 class="fw-normal"> What if the car stops working? </h6>
								<p class="mb-0"> If the car stops working for no apparent reason, the Renter will contact
								either the Owner or the roadside assistance service. After that, the
								causes of the car&#39;s breakdown will be identified. If the breakdown was
								caused by any worn part of the car that should have undergone regular
								servicing, in such case the Owner will have to bear the costs incurred, by
								subtracting the costs incurred from the vehicle rental income (it is
								understood that an identical breakdown would happen to Owner at
								another point of time).</p>
							</div>
		

					
						</div>
					</div>
					<!-- Card item END -->
				</div>		
			</div>
		</div>
	</div>
</section>